include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin Navbar()
    header
        .navbar
            .container
                a(href="/").logo
                    img(src="assets/images/logo.png", alt="") 
                .contacts__wrapper
                    .contacts.address
                        span г. Архангельск, <br> ул. Воскресенская, д. 114
                    .contacts.phone 
                        a(href="") +7 (123) 456-78-90
                    .contacts.mail
                        a(href="") mail@mail.ru 
        .menu__wrapper
            .container
                ul.menu
                    li 
                        a(href="") О магазине 
                    li 
                        a(href="/catalog.html") Каталог
                    li 
                        a(href="") Магазины
                    li 
                        a(href="") Новости
                    li 
                        a(href="") Акции
                    li 
                        a(href="") Контакты
                .search__form
                    form(action="")
                        .search__input
                            input(type="text" placeholder="Я хочу купить...")
                            button 
mixin Ymap()
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adbd6c1f91f6f5e702b59510a42380c63d6bd07896e10a9d591c5e001264d63da&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>

mixin Footer()
    footer
        .navbar
            .container
                a(href="/").logo
                    img(src="assets/images/logo.png", alt="") 
                .contacts__wrapper
                    .contacts.address
                        span г. Архангельск, <br> ул. Воскресенская, д. 114
                    .contacts.phone 
                        a(href="") +7 (123) 456-78-90
                    .contacts.mail
                        a(href="") mail@mail.ru 
        .container.footer__info
            .copyright
                span Copyrigth 2021 - все права защищены. Копирование информации без указания источника преследуется законом
            .policy__wrapper
                a(href="").policy Политика конфиденциальности
                .salut 
                    span Разработка сайта - 
                    a(href="") SalutPromo

mixin ProductItem(img, type, brand, price, size)
    a(href="").product__item
        .preview
            img(src=img, alt="")
        .desc
            .type=type
            .brand=brand
            .price=price
                | р.
            .size Размер: 
                =size

mixin BestSales()
    section.products__list.sale
        .container
            .title__wrapper
                h2.title Выгодные предложения
                .owl__nav
            .slider__wrapper.owl-carousel
                +ProductItem('assets/images/products/ax_0024 (2)-950x950.jpg', 'Женское платье', 'Roland Mouret', '13 000', '42(ru)')
                +ProductItem('assets/images/products/first-lady-norka-shuba_7331279_xl.jpg', 'Шуба', 'FIRST LADY', '51 000', '42(ru)')
                +ProductItem('assets/images/products/I_xNrEWV5Nw.jpg', 'Летняя одежда', 'Polo Gucci', '12 000', '42(ru)')
                +ProductItem('assets/images/products/ah_0025 (2)-950x950.jpg', 'Женское платье', 'Roland Mouret', '13 000', '42(ru)')
            .btn__wrapper
                a(href="").btn.border Весь каталог

mixin InfoSection()
    section.info
        .container
            .border__orange
                span.info__title Сколько стоит моя вещь?
                span.info__desc 
                    |Стоимость товара зависит от его актуальности, внешнего
                    |состояния. Точная оценка происходит непосредственно
                    |в нашем магазине.
                .btn__wrapper   
                    button.btn.purple Подробнее
            .border__orange
                span.info__title О магазине
                span.info__desc 
                    |Доверьтесь нашему опыту и оцените преимущества
                    |надёжного сотрудничества!
                .btn__wrapper   
                    button.btn.purple Подробнее

mixin ContactsInfo()
    section.contacts__info
        .ymap
            +Ymap()
        .container
            .info__wrapper
                h1.info__title Магазин «Комиссионофф»
                .contacts__wrapper
                    span.contact__title Телефон
                    a(href="").contact +7 (123) 456-78-90
                    a(href="").contact +7 (123) 456-78-90
                .contacts__wrapper
                    span.contact__title Адрес
                    span.contact 163051 г. Архангельск, 
                    span.contact ул. Воскресенская, д. 114
                .contacts__wrapper
                    span.contact__title Почта
                    a(href="").contact mail@mail.com
                .contacts__wrapper
                    span.contact__title Режим работы    
                    span.contact 8:00 - 21:00